body {
     background-color: rgb(20, 114, 15);
     margin: 0 auto;
     max-width: 50%;
     text-align: center;
     width: 100%;
     height: 50%;
 }

 #board {
    height: 1em;
    width: 5em;
    font-size: 3em;
    text-align: center;
    color: black;
    margin: 0 auto;
    /* position: relative;
    top: -14em; */
    background-color: white;
 }
 #bet-main {
    font-size: 2em;
    text-align: center;
    vertical-align: middle;
    height: 4em;
    width: 3em;
    border: 2px solid rgb(240, 240, 140);
    border-radius: 15px;
    margin: 0 auto;
    position: relative;
    top: .5em;
    color: white;
    /* background: url("./images/spanish21logo.png"); */
    background-color: rgb(20, 114, 15);
 }
 #bet-up-card {
     font-size: 1.5em;
     background-color: rgb(209, 68, 17);
     height: 3em;
     width: 3em;
     margin: 0 auto;
     border-radius: 50px;
     position: relative;
     left: -60px;
     top: 5.5em;
     /* float: left; */
 }
 #bet-down-card {
    font-size: 1.5em;
    background-color:rgb(209, 68, 17);
    height: 3em;
    width: 3em;
    position: relative;
    right: -60px;
    top: 2.5em;
    border-radius: 50px;
    margin: 0 auto;
}
#bets {
    display: inline;
    height: 4em;
    width: 6em;
}
#bets-container {
    width: 115px;
    display: none;
    text-align: center;
    margin: 0 auto;
}
#player-action-btns {
    display: none;
}
 #playerHand {
    font-size: 1em;
    height: 2em;
    width: 7em;
    padding-top: 15px;
    text-align: center;
    color: black;
    margin: 0 auto;
    position: relative;
    top: -14em;
    background-color: white;
}
#buyin-cashout-btns {
    display: none;
}

#playerBank {
    font-size: 2em;
    height: 2em;
    width: 3em;
    text-align: center;
    padding-top: 1em;
    margin: 0 auto;
    color: white;
    background-color: rgb(37, 91, 10);
    border: solid black 10px;
}

#messageBoard {
    font-size: 1em;
    padding-top: 1.7em;
    text-align: center;
    margin: 0 auto;
    height: 50px;
    width: 200px;
    background-color: white;
    border-radius: 15px;
}

#cash-container {
    display: block;
}