 body{
     background-color: aqua;
 }

 #board {
     height: 100px;
     width: auto;
     background-color: white;
 }

 #bet-Main{
     height: 2em;
     width: 2em;
     background-color: burlywood;
 }
 #playerBank{
    height: 2em;
     width: 2em;
     background-color: burlywood;
 }
 #playerHand {
    height: 100px;
    width: auto;
    color: black;
    background-color: white;
}

#messageBoard {
    height: 100px;
    width: auto;
    background-color: white;
}