 body{
     background-color: rgb(20, 114, 15);
 }

 #board {
     height: 100px;
     width: auto;
     background-color: white;
 }
 #bet-main {
    height: 4em;
    width: 4em;
    border: 2px solid rgb(244, 244, 16);
    border-radius: 40px;
    color: white;
    text-align: center;
    background-color: rgb(244, 244, 16)
 }
 #bet-top-card {
     background-color: rgb(209, 68, 17);
     height: 2em;
     width: 2em;
     border-radius: 20px;
     margin: 1em;
     /* float: left; */
 }
 #bet-btm-card {
    background-color:rgb(209, 68, 17);
    height: 2em;
    width: 2em;
    border-radius: 20px;
    margin: 1em;
}
#bets {
    display: inline;
    height: 4em;
    width: 6em;
}
#bets-container {
    display: none;
}
#player-action-btns {
    display: none;
}
 #playerHand {
    height: 5em;
    width: 5em;
    color: black;
    background-color: white;
}
#buyin-cashout-btns {
    display: none;
}

#playerBank {
    height: 1.5em;
    width: 2em;
    color: white;
    background-color: burlywood;
}

#messageBoard {
    height: 100px;
    width: auto;
    background-color: white;
}

#cash-container {
    display: block;
}